.section_products {
  padding: 1rem;
}

.products_section {
  display: flex;
  margin: 0 auto;
  gap: 3.75rem;
}

.products_information {
  max-width: 16rem;
}

.products_information h2 {
  color: var(--color-2);
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.products_information p {
  color: var(--color-4);
  width: 12.25rem;
  font-size: var(--body-font-size);
  font-weight: 500;
  margin: 0.75rem 0 1.5rem;
}

.products_information button {
  color: var(--color-2);
  font-size: var(--body-font-size);
  font-family: var(--body-font);
  font-weight: 500;

  background: var(--color-1);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.products_list {
  display: flex;
  gap: 3rem;
}

.products_item {
  display: flex;
  flex-direction: column;
}

.products_item span {
  color: var(--color-2);
  font-size: var(--body-font-size);
  font-weight: 500;
  margin-top: 0.75rem;
}

.products_item img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1350px) {
  .products_section {
    justify-content: center;
  }
  .products_list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .products_section {
    flex-wrap: wrap;
  }
}
