/*=============== VARIABLES CSS ===============*/
:root {
  --color-1: #c1dcdc;
  --color-2: rgba(30, 30, 30);
  --color-3: rgba(30, 30, 30, 0.749);
  --color-4: rgba(30, 30, 30, 0.5);

  --h1-font-size: 4rem;
  --h2-font-size: 2rem;
  --body-font-size: 1.125rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  margin: 0 auto;
  height: 2800px;
}

input,
button {
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/*=============== BASE ===============*/
.container {
  max-width: 1248px;
  margin: 0 auto;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--color-1);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
  display: inline-flex;
  padding: 8px;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: black;
  z-index: 9;
  transition: 0.33s;
  /* transition: bottom .4s, transform .4s, background-color .4s; */
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}
