.banner_bg {
  margin: 0 1rem;
}

.banner {
  max-width: 78rem;
  min-height: 32rem;
  margin: 9rem auto 6rem;
  background-color: var(--color-1);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.banner_content {
  padding: 3rem;
  max-width: 35rem;
}

.banner_content h1 {
  color: #000;
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.banner_numbers {
  display: flex;
  margin-bottom: 3rem;
}

.number1 {
  padding-right: 3rem;
  border-right: 1px solid black;
}

.number2 {
  padding-left: 3rem;
}

.banner_content span {
  color: var(--color-2);
  font-size: 2rem;
  font-weight: 500;
}

.banner_content p {
  color: var(--color-2);
  font-size: 1.125rem;
  font-weight: 500;
}

.banner_search {
  min-width: 16rem;
  max-width: 28rem;
  height: 4rem;
}

.banner_search form {
  background: #fff;
  border-radius: 0.75rem;
  position: relative;
}

.banner_search input {
  font-family: var(--body-font);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  font-size: 1rem;
  border: none;
  padding: 1rem;
}

.banner_search button {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
  background-color: var(--color-1);
  padding: 0.7rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
}

.banner_plant {
  width: 100%;
  max-width: 28rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.banner_plant img {
  position: relative;
  max-width: 100%;
  display: block;
  z-index: 2;
  object-fit: cover;
}

.banner_img {
  max-width: 28rem;
  max-height: 25rem;
  width: 100%;
  height: 100%;
  border-radius: 12.5rem 12.5rem 0rem 12.5rem;
  background: var(--color-2);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 4rem;
  z-index: 0;
}

.banner_decoration1 {
  width: 184px;
  position: absolute;
  bottom: 100px;
  right: 0;
  left: -260px;
}

.banner_decoration2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 1000px) {
  .banner_decoration1,
  .banner_decoration2 {
    display: none;
  }
  .banner {
    gap: 1rem;
    flex-direction: column;
  }
  .banner_content {
    padding: 2rem;
    margin: 0 auto;
  }
  .banner_plant {
    margin: 0 auto;
  }
  .banner_img {
    max-width: 26rem;
    max-height: 24rem;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 90%;
    height: 75%;
  }
}

@media (max-width: 550px) {
  .banner_content {
    padding: 1rem;
  }
  .banner_content h1 {
    font-size: 3.25rem;
  }
  .number1 {
    padding-right: 2rem;
  }
  .number2 {
    padding-left: 1rem;
  }
  .banner_content span {
    font-size: 2rem;
  }
  .banner_img {
    max-width: 22rem;
    max-height: 24rem;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 90%;
    height: 75%;
  }
}
